/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial;
    /* font-size:large; */
}

a {
    color: inherit;
    text-decoration: none;
}

ul  {
    list-style: none;
    padding-left: 30px;
    list-style-type:square;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:22px; */
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(202, 199, 209); */
    background-color: rgb(20, 17, 27);
    vertical-align:middle;
    align-items: center;
    padding-top: 90px;
}

.sections-content {
    background-color: rgb(202, 199, 209);
    width:100%;
    height:100%;
    box-shadow:0 2px 5px 2px rgba(25, 20, 53, 0.26), 0 2px 10px 0 rgba(25, 20, 53,0.22);
}

p {
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size:22px;

    text-align:justify;
}

/* NORMAL STYLES */
.header {
    position: fixed;
    top: 0;
    width: 100%; /* Resets the Width Back to 100%, since "position: fixed" overwrites that*/
    backdrop-filter: blur(6px);
    z-index: 999;
}

.top-bar {
    background-color: rgb(39, 44, 51);
    transition: all 0.3s;
}

.top-bar-scrolled {
    /* background-color: rgb(39, 44, 51, 0.7); */
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); */
    background-color: rgb(19, 22, 26, 0.7);

}

.top-bar__content {
    /* max-width: 1600px; */
    margin: 0 auto;
    padding: 0 30px;
    height: 30px;
    color: rgba(2555, 255, 255, 0.35);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
}

.icon {
    margin-right: 3px;
    color: rgba(2555, 255, 255, 0.17);
}

.bottom-bar {
    background-color: rgb(19, 22, 26);
    transition: all 0.3s;
}

.bottom-bar-scrolled {
    background-color: rgb(19, 22, 26, 0.7);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15)
}

.bottom-bar__content {
    /* max-width: 1600px; */
    margin: 0 auto;
    padding: 0 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__img {
 height: 40px;
 box-shadow:0 2px 5px 2px rgba(25, 20, 53, 0.26), 0 2px 10px 0 rgba(25, 20, 53,0.22);

}

.logo__text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5
}

.mainNav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    list-style:none;
    padding-left:0px;
}

.nav__item {

}

.nav__link {
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.2s;
    position: relative;
}

.nav__link:hover, 
.nav__link:active {
    color: rgba(255, 255, 255, 1);
    }

.nav__link::after {
    content: '';
    height: 4px;
    width: 100%;
    background: rgb(0, 183, 255);
    position: absolute;
    left: 0;
    bottom: -22px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

/* .activeLink {

} */

.nav__link:hover::after {
    opacity: 1;
}

.btn {
    color: #fff;
    background-color: #0071e3;
    /* background-color: #7d00e3; */
    padding: 8px 20px;
    border-radius: 1000px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #007bf5;
    /* background-color: #7f00f5; */
}

.hamburger {
 display: none;
}

.hamburger:hover {
    cursor:pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.space {

    & .space-bg{
        width: 100%;
        height: 100vh;
        background-image: url("./images/Space_Watercolor_1-1080p.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: blur(2px);  
        
    }

    & .space-text {
        
        background-color: rgba(0,0,0,0.6);
        /* color: rgb(254, 149, 20); */
        color: rgb(249, 244, 255);
        font-weight:bold;
        /* border: 3px solid rgb(94, 228, 255); */
        /* border: 3px solid rgb(88, 217, 242); */
        border: 3px solid rgb(237, 224, 255);
        border-width:4px;
        border-radius: 10px;
        box-shadow:0 2px 5px 2px rgba(25, 20, 53, 0.16), 0 2px 10px 0 rgba(25, 20, 53,0.12);
        position: absolute;
        top:50%;
        left: 50%;
        z-index:10;
        width:80%;
        padding: 38px;
        text-align:center;
        transform: translate(-50%, -50%);
        
    }

    & .space-text:before {
        background:none;
        /* border-top: 4px solid rgb(255, 0, 0, .7); */
        /* border-top: 4px solid rgb(88, 217, 242); */
        /* border-top: 4px solid rgb(237, 224, 255); */
        /* border-left: 4px solid rgb(237, 224, 255); */
        /* border-right: 4px solid rgb(237, 224, 255); */
        /* border-bottom: 4px solid rgb(255, 0, 0, .7); */
        /* border-bottom: 4px solid rgb(88, 217, 242); */
        /* border-bottom: 4px solid rgb(237, 224, 255); */
        /* box-shadow: inset 0 0 10px 2px rgba(255, 55, 55, 1); */
        /* box-shadow: inset 0px 25px 20px -20px rgba(255, 55, 55, 1),
                    inset 0px -25px 20px -20px rgba(255, 55, 55, 1); */
        /* box-shadow: inset 0px 25px 20px -20px rgb(55, 208, 255),
                    inset 0px -25px 20px -20px rgb(55, 208, 255); */
        /* box-shadow: inset 0px 25px 20px -20px rgb(235, 218, 255, 0.6),
                    inset 0px -25px 20px -20px rgb(235, 218, 255, 0.6),
                    inset 25px 0px 20px -20px rgb(235, 218, 255, 0.6),
                    inset -25px 0px 20px -20px rgb(235, 218, 255, 0.6); */
        content:"";
        display:block;
        position:absolute;
        top:2px;
        left:2px;
        right:2px;
        bottom:2px;
        pointer-events:none;
    }

    & h1 {
        font-size:3em;
    }

    & .space-subhead {
        font-weight:lighter;
        padding-top:1%;
        padding-bottom:0.5%;
    }

    .space-btn {
        /* display: none; Hidden by default */
        /* transform: translateX(150%); */
        
        /* position: fixed; Fixed/sticky position */
        /* bottom: 20px; Place the button at the bottom of the page */
        /* right: 30px; Place the button 30px from the right */
        /* z-index: 99; Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        /* background-color: rgb(228, 118, 40); Set a background color */
        background-color: rgb(112, 40, 228); /* Set a background color */
        box-shadow:0 2px 5px 2px rgba(25, 20, 53, 0.16), 0 2px 10px 0 rgba(25, 20, 53,0.12);
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
        transition: all 0.2s;
        margin-top:1%;
        margin-bottom:.2%;
        font-weight:bold;
      }
    
      .space-btn:hover {
        /* background-color: rgb(255, 165, 55); Add a dark-grey background on hover */
        background-color: rgb(130, 68, 231); /* Add a dark-grey background on hover */
      }
}

/** MAIN STUFF

-> Breakdown:
    Body {
        main-section {
            main-heading {}
            main-subheading {}
            main-article {
                article-content {
                    article-heading {}
                    article-subheading {}
                    article-media {}
                    article-desc {
                        article-description {}
                        article-lists {}
                        article-footer {}
                    }
                }
            }
        }
    }



    */

    .main-sec{
        /* background-color: rgba(105, 105, 105, 0.3); */
        padding-top: .1%;
        padding-left: .7%;
        padding-right: .7%;
        padding-bottom: .2%;
        margin: 20px;
        /* box-shadow: 5px 4px 2px rgb(109, 87, 229, 0.4); */
        scroll-margin-top: 105px;
        border-radius: 10px;
        /* box-shadow:0 2px 5px 2px rgba(25, 20, 53, 0.26), 0 2px 10px 0 rgba(25, 20, 53,0.22); */
    }
    
    .main-heading {
        color:black;
        padding:5px;
        text-align:center;
        font-size: 1.7em;
    }
    
    .main-subheading {
    
    }
    
    .main-article{
        background-color: rgba(238, 238, 238, 0.8);
        padding-top: .4%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom:1.5%;
        margin: 1.5%;
        border-radius:10px;
        box-shadow:0 2px 5px 2px rgba(25, 20, 53, 0.16), 0 2px 10px 0 rgba(25, 20, 53,0.12);
    
    }
    
    .article-content {
        
    }
    
    .article-heading {
        padding-top:10px;
        font-size: 1.6em;
    }
    
    .article-subheading {
        padding-top:5px;
        padding-bottom:5px;
        font-size: 1.3em;
    }
    
    .article-media {
    
    }
    
    .article-desc {
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 2%;
        padding-bottom: 1%;
    
        border-top:double;
        border-top-width:5px;
        border-color: darkslateblue;
        text-align:justify;
    
        /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        
        font-size:22px;
    }
    
    .article-lists {
    
    }
    
    
    
    h1 {
        font-size:1.2em;
    
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    .my-bg{
        margin-top:0%;
        margin-left: 10%;
        margin-right:10%;
        padding-top:.7%
    }
    
    .my-exp{
        margin-left: 10%;
        margin-right:10%;
    }
    .my-pr{
        margin-left: 10%;
        margin-right:10%;
    }
    .my-int{
        margin-left: 10%;
        margin-right:10%;
    }
    .my-con{
        margin-left: 10%;
        margin-right:10%;
    }
    
    .bg-content{
        display:flex;
        flex-direction:row;
        padding-top:1%;
    }
    
    .bg-media {
        float:left;
        width:34.99999%
    }
    
    .profile-img-container {
        width:100%; 
        padding-left: 20%;
        padding-top:2%;
        padding-bottom:1%;
        padding-right:25%;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
    .profile-img {
        vertical-align: middle;
        box-shadow:0 2px 5px 1px rgba(25, 20, 53, 0.26), 0 2px 10px 0 rgba(25, 20, 53,0.22);
        border-radius:10px;
    }
    
    .bg-desc {
        border-top:none;
        border-left:double;
        border-left-width:5px;
        border-color: darkslateblue;
        float:left;
        width:64.99999%;
    }
    
    .contact-msg {
        padding-top:10px;
        font-style:italic;
        text-align:center;
    }
    
    .contact-lists {
        text-align:center;
        
    }

    .contact-list {
        display:inline-block;
        text-align:justify;
    }
    
    .exp-article{
    
    }
    
    .proj-article{
    
    }
    
    .int-article{
    
    }
    
    .description-heading {
        font-size: 1.2em;
        padding-bottom:.3em;
    }
    
    .url-link {
        color:inherit;
        text-decoration:underline;
        font-weight:bold;
    }

    .intxt-url {
        text-decoration:underline;
    }
    
    img {
        max-width:100%;
        max-height:100%;
    }
    
    .proj-img {
        /* object-fit: contain; */
        max-width:60%;
        justify-content: center;
        align-items:center;
        margin: auto;
    }
    
    .proj-img img {
        width:100%;
    }
    
    /* .proj-img:hover{
        cursor:zoom-in;
    } */
    
    .img--zoomed {
        transform: scale(1.4);
        /* margin-left: -19.5%; */
        object-fit:contain;
    }
    
    .img--zoomed:hover{
        cursor:zoom-out;
    }
    
    
    
    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction:column;
        /* padding-top:90px; */
      }
      
      /* Hide the images by default */
      .mySlides {
        display: table;
      }
      
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        margin-left:22%;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        margin-right:22%;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 14%;
        width:56%;
        margin-left:22%;
        /* width: 94%;
        margin-left:3%; */
        border-radius: 5px;
        text-align: center;
        background-color: rgba(62, 62, 62, 0.7);
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 16px;
        font-weight: bold;
        top:7%;
        left:23%;
        padding: 7px;
        border-radius: 5px;
        position: absolute;
        background-color: rgba(105, 105, 105, 0.7);
      }
    
      .dots {
        text-align:center;
        margin-bottom:15px;
        
    
      }
      
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
    
    
      .bottom-footer {
        text-align:center;
        display:flex;
        flex-direction:column;
        margin-top:0%;
        color:white;
      }
    
      .toTopBtn {
        /* display: none; Hidden by default */
        transform: translateX(150%);
        opacity: 0;
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgb(76, 0, 138); /* Set a background color */
        box-shadow:0 2px 5px 2px rgba(25, 20, 53, 0.16), 0 2px 10px 0 rgba(25, 20, 53,0.12);
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
        transition: all 0.2s;
      }
    
      .toTopBtn:hover {
        background-color: rgb(0, 138, 28); /* Add a dark-grey background on hover */
      }
    
      .btn-visible {
        /* display: block; */
        opacity:1;
        transform:translateX(0%);
        transition: all 0.2s;
      }
    

/* FOR JS */
.nav--open {
    transform: translateX(0%) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* MEDIA QUERIES */

@media screen and (max-width:1900px) {
    .bg-content{
        display:flex;
        flex-direction:column;
        padding-top:1%;
    }
    
    .bg-media {
        float:left;
        width:100%
    }
    
    .profile-img-container {
        width:100%; 
        padding-left: 20%;
        padding-top:2%;
        padding-bottom:5%;
        padding-right:25%;
    }
    
    .profile-img {
        width:70%;
        height:70%;
        vertical-align: middle;
        box-shadow:0 2px 5px 1px rgba(25, 20, 53, 0.26), 0 2px 10px 0 rgba(25, 20, 53,0.22);
        border-radius:10px;
    }
    
    .bg-desc {
        border-top:double;
        border-left:none;
        border-left-width:5px;
        border-color: darkslateblue;
        float:left;
        width:100%;
        padding-top:5%;
    }
}

@media screen and (max-width: 1200px) { /*650px) { */   
    .mainNav {
        position: fixed;
        top: 90px;
        left: 0px;
        background-color: rgb(19, 22, 26, 0);
        width: 100%;
        padding: 10px, 0 25px;
        transform: translateX(-100%);
    }

    .nav--open {
        background-color: rgb(19, 22, 26, 1);
        backdrop-filter: blur(6px);
    }

    .nav-bar-scrolled {

    }

    .nav--scrolled {
        background-color: rgb(19, 22, 26, 0.7);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    }

    .nav__list {
        flex-direction: column;
        align-items: center; /* To center the vertical (column) flow, use align-items, as swapping the flex direction has reversed this*/
        row-gap: 20px;
        padding-top: 7px;
        padding-bottom: 13px;
        
    }

    .nav__link {
        font-size: 14px;
    }

    .nav__link::after {
        content: '';
        height: 3px;
        width: 100%;
        background: rgb(0, 183, 255);
        position: absolute;
        left: 0;
        bottom: -10px;
        opacity: 0;
        transition: all 0.2s;
        pointer-events: none;
    }
    
    .nav__link:hover::after {
        opacity: 1;
    }

    .btn {
        font-size: 11px;
        padding: 7px 17px;
    }

    .hamburger {
        display: block;
    }

    .main-sec{
        padding-left:0%;
        padding-right:0%;
        margin:0px;
    }

    .main-article{
        background-color: rgba(238, 238, 238, 0.8);
        padding-top: .4%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3%;
        margin: 10px;
        border-radius:10px;
        box-shadow:0 2px 5px 2px rgba(25, 20, 53, 0.16), 0 2px 10px 0 rgba(25, 20, 53,0.12);
    
    }

    .description {
        font-size:small;
    } 



    .article-lists {

        font-size:small;
    }

    p {
        font-size:small;
    }

    .my-bg{
        margin-left:0%;
        margin-right:0%;
    }

    .my-exp{
        margin-left:0%;
        margin-right:0%;
    }

    .my-pr{
        margin-left:0%;
        margin-right:0%;
    }

    .my-int{
        margin-left:0%;
        margin-right:0%;
    }

    .my-con{
        margin-left:0%;
        margin-right:0%;
    }
    
}

@media screen and (max-width: 600px){

    .space {
        & .space-subhead {
            font-weight:lighter;
            padding-top:4%;
            padding-bottom:4%;
        }
    }
}


/**
For the In-Development Image Zoom Functionality

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.zoomed-wrapper {
    position: fixed;
    top: 20%;
    z-index: 1001;
    display: flex;
    justify-content: center;
} */