/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}



ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: lightblue;
    vertical-align:middle;
    align-items: center;
    padding-top: 90px;
}

/* NORMAL STYLES */
.header {
    position: fixed;
    top: 0;
    width: 100%; /* Resets the Width Back to 100%, since "position: fixed" overwrites that*/
    backdrop-filter: blur(6px);
    z-index: 999;
}

.top-bar {
    background-color: rgb(39, 44, 51);
    transition: all 0.5s;
}

.top-bar-scrolled {
    background-color: rgb(39, 44, 51, 0.7);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15)
}

.top-bar__content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
    height: 30px;
    color: rgba(2555, 255, 255, 0.35);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
}

.icon {
    margin-right: 3px;
    color: rgba(2555, 255, 255, 0.17);
}

.bottom-bar {
    background-color: rgb(19, 22, 26);
    transition: all 0.3s;
}

.bottom-bar-scrolled {
    background-color: rgb(19, 22, 26, 0.7);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15)
}

.bottom-bar__content {
    /* max-width: 1600px; */
    margin: 0 auto;
    padding: 0 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__img {
 height: 30px;
}

.logo__text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    list-style:none;
}

.nav__item {

}

.nav__link {
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.2s;
    position: relative;
}

.nav__link:hover, 
.nav__link:active {
    color: rgba(255, 255, 255, 1);
    }

.nav__link::after {
    content: '';
    height: 4px;
    width: 100%;
    background: rgb(0, 183, 255);
    position: absolute;
    left: 0;
    bottom: -22px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav__link:hover::after {
    opacity: 1;
}

.btn {
    color: #fff;
    background-color: #0071e3;
    padding: 8px 20px;
    border-radius: 1000px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #007bf5;
}

.hamburger {
 display: none;
}

.hamburger:hover {
    cursor:pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

/* FOR JS */
.nav--open {
    transform: translateX(0%) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* MEDIA QUERIES */
@media(max-width: 1200px) { /*650px) { */   
    .nav {
        position: fixed;
        top: 90px;
        left: 0px;
        background-color: rgb(19, 22, 26, 0);
        width: 100%;
        padding: 10px, 0 25px;
        transform: translateX(-100%);
    }

    .nav--open {
        background-color: rgb(19, 22, 26, 1);
            }

    .nav-bar-scrolled {

    }

    .nav--scrolled {
        background-color: rgb(19, 22, 26, 0.7);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    }

    .nav__list {
        flex-direction: column;
        align-items: center; /* To center the vertical (column) flow, use align-items, as swapping the flex direction has reversed this*/
        row-gap: 20px;
        padding-top: 7px;
        padding-bottom: 13px;
        
    }

    .nav__link {
        font-size: 14px;
    }

    .nav__link::after {
        content: '';
        height: 3px;
        width: 100%;
        background: rgb(0, 183, 255);
        position: absolute;
        left: 0;
        bottom: -10px;
        opacity: 0;
        transition: all 0.2s;
        pointer-events: none;
    }
    
    .nav__link:hover::after {
        opacity: 1;
    }

    .btn {
        font-size: 11px;
        padding: 7px 17px;
    }

    .hamburger {
        display: block;
    }
    
}


.main-sec{
    background-color: rgba(105, 105, 105, 0.3);
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
    margin: 10px;
    box-shadow: 5px 4px 2px rgb(109, 87, 229, 0.4);
    scroll-margin-top: 105px;
}

.my-bg{
    margin: 20px;
}

.my-exp{
    margin: 20px;
}
.my-pr{
    margin: 20px;
}
.my-int{
    margin: 20px;
}
.my-con{
    margin: 20px;
}

.main-art{
    background-color: rgba(238, 238, 238, 0.8);
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
    margin: 10px;
    
}

.exp-art{

}

.proj-art{

}

.int-art{

}

ul  {
    padding-left: 25px;
    list-style-type:square;
}

.url-link {
    color:inherit;
    text-decoration:underline;
    font-weight:bold;
}

img {
    max-width:100%;
    max-height:100%;
    margin-left:33%;
}

.proj-img {
    /* object-fit: contain; */
    max-width:60%;
    justify-content: center;
    
    
}

.proj-img:hover{
    cursor:zoom-in;
}

.img--zoomed {
    transform: scale(2,2);
    margin-left: -19.5%;
}

.img--zoomed:hover{
    cursor:zoom-out;
}

h1 {
    color:darkslateblue;

}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    /* padding-top:90px; */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: table;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-left:22%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right:22%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 7%;
    width:56%;
    margin-left:22%;
    /* width: 94%;
    margin-left:3%; */
    border-radius: 5px;
    text-align: center;
    background-color: rgba(62, 62, 62, 0.7);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    top:7%;
    left:23%;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    background-color: rgba(105, 105, 105, 0.7);
  }

  .dots {
    text-align:center;
    margin-bottom:15px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }